

<%= render partial: 'shared/errors', locals: {obj: @category} %>

<%= form_for @category do |f| %>
  <div class= "control-group">
    <%= f.label :name%>
    <%= f.text_field :name%>
  </div>

  <%= f.submit @category.new_record? ? "create category" : "update category", class: 'btn btn-success'%>
<% end %>